body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu { list-style: none; margin: 0 0 10px 0; padding: 0;

}

.menu li { margin: 0; padding: 5px 10px; float: left;

}

.menu a { text-decoration: none; color: wheat;

}

.menu .active li { border-bottom: 3px solid antiquewhite;

}

.menu li:hover { background-color: #666;

}